@import "../../theme/common";

.projectTitle {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

.projectList {
  list-style-type: none;
  padding: 0;

  p {
    padding-left: 2em;
  }
  .projectName {
    padding-left: 0em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .carouselContainer {
    display: flex;
    align-items: center;
    width: 60%;
    // max-height: 600px;
    height: 600px;
    margin: auto;
    overflow: scroll;
  }
}
