@import "../../theme/common";

.projectTitle {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

.projectList {
  list-style-type: none;
  padding: 0;

  p {
    padding-left: 2em;
    overflow-wrap: break-word;
    font-size: 0.75em;
    width: 90%;
  }
  .projectName {
    padding-left: 0em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .carouselContainer {
    display: flex;
    align-items: center;
    width: 90%;
    max-height: 600px;
    // height: 600px;
    margin: auto;
    overflow: scroll;
  }
}
@media (min-width: 700px) {
  .projectList p {
    font-size: 1em;
  }
  .carouselContainer {
    width: 60%;
    height: 600px;
  }
}
