@import "../../theme/common";

.projectTitle {
  color: yellow;
  text-align: center;
  text-transform: uppercase;
}

.projectList {
  list-style-type: none;
}

.projectName {
  text-align: center;

  text-transform: uppercase;
}
