@import "../../theme/variables.scss";
.shortText {
  display: none;
}

.siteNav {
  ul {
    background-color: #bbc2e2;
    font-family: Montserrat, "helvetica neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0.75em 1em 0.75em 1em;
    list-style-type: none;
  }
  li:first-child {
    font-family: "Girassol", cursive;
    letter-spacing: 0.2em;
    font-size: 1.2em;
    flex-grow: 0.2;
  }
  li {
    padding: 1em;
  }
  a {
    text-decoration: none;
  }

  .liSelected a {
    color: lavender;
  }
  @media (max-width: 700px) {
    font-size: 0.8em;
  }
}
@media (max-width: 700px) {
  .shortText {
    display: inline-block;
  }
  .fullText {
    display: none;
  }
}
