.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 75vw;
  height: auto;
  // :first-child {
  //   align-self: center;
  //   font-size: 1.5em;
  // }
  img {
    width: 40vw;
  }
  figcaption {
    text-align: center;
  }
  h3 {
    align-self: flex-start;
  }
  p {
    align-self: flex-start;
  }
  img:last-child {
    display: none;
  }
}

// article:last-child {
//   display: none;
// }
