.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 75vw;
  height: auto;

  figure {
    display: flex;
    flex-direction: column;
    img {
      width: 40vw;
      margin: auto;
      padding-bottom: 1em;
    }
    figcaption {
      text-align: center;
    }
  }

  h3 {
    align-self: flex-start;
    font-size: 1.5em;
  }
  p {
    align-self: flex-start;
  }
  img:last-child {
    display: none;
  }
}
.title {
  text-align: center;
}
.info {
  margin-left: 1em;
}

.fade {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;

  height: 1px;
  width: 70%;
  $color: gray;
  color: $color;
  background-image: linear-gradient(90deg, rgba($color, 0), rgba($color, 1) 50%, rgba($color, 0) 100%);
}

// article:last-child {
//   display: none;
// }
